
<div class="container">
    <br>
    <h1 class="text-center">Calendario</h1>      
        {{#if events}}
             {{!--Here we need to give more beautiful format --}}
        <table class="table">
            <thead class="table-info"> 
                <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Inicio</th>
                <th scope="col">Cierre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Ver más</th>
                </tr>
            </thead>
            <tbody>
                {{#each events}}
                    <tr>
                        <th scope="row">{{title}}</th>
                        {{!-- Here we can made a if for expired dates --}}
                        <td>{{startDate}}</td>
                        <td>{{finishDate}}</td>
                        <td>{{description}}</td>
                        <td><a href="/events/{{id}}">Ver evento</a></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        {{else}}
            <p class="text-center">No hay eventos aún</p>
        {{/if}}
</div>


