<div class="container-fluid ">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <h1 class="mt-3">Detalles del evento</h1>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <div class="card mt-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title title-color">{{event.title}}</h5>
                <p class="card-text">{{event.description}}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Inicio: {{event.startDate}}</li>
                <li class="list-group-item">Cierre: {{event.finishDate}}</li>
                <li class="list-group-item"> <small>Restante: {{event.duration}}</small> </li>
            </ul>
            <div class="card-body">
                <div class="d-grid gap-2 col-6 mx-auto">
                    <a href="/events" class="btn btn-primary btn-large">Volver</a>
                </div>
            </div>
            {{!-- Solo si es administrador --}}
            <div class="card-footer text-muted">
               
                <div class="container-fluid">
                    <div class="row justify-content-md-center">
                        <div class="col-4">
                            <a href="/events/{{event.id}}/edit" class="btn btn-warning">Editar</a>    
                        </div>
                    </div>
                </div>
                
             
            </div>
          
        </div>
        </div>
        
    </div>
    
</div>