<div class="container-fluid text-center mb-4">
    {{#ifEquals adminData.semesterInfo null}}
    <h1>No hay semestres activos</h1>

    {{else}}
    <h1>Semestre {{adminData.semesterInfo.period}}</h1>
    {{/ifEquals}}
</div>
<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-12">
            <div class="card container">
                <h5 class="card-header text-center">Anteproyectos (Semestre {{adminData.semesterInfo.period}})</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                {{#ifEquals adminData.projectsCount 0}}
                                <h5 class="card-header">Sin proyectos pendientes </h5>
                                <div class="card-body">
                                    <a href="/admin/anteproyectos" class="btn btn-block btn-primary">Ir a anteproyectos
                                    </a>
                                </div>
                                {{else}}
                                <h5 class="card-header">Tienes <strong> {{adminData.projectsCount}}</strong>
                                    anteproyectos que revisar </h5>
                                <div class="card-body">
                                    <a href="/admin/anteproyectos" class="btn btn-block btn-primary">Revisar
                                        <span
                                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                            {{adminData.projectsCount}}
                                            <span class="visually-hidden">unread messages</span>
                                        </span>
                                    </a>
                                </div>
                                {{/ifEquals}}

                            </div>
                        </div>
                        <div class="col text-center">
                            <div class="card" style="max-width: 25rem;">
                                <h5 class="card-header ">¿Desea administrar profesores?</h5>
                                <div class="card-body">
                                    <a href="/admin/MenuTeacher" class="btn btn-block btn-primary">Ir a profesores</a>
                                </div>
                            </div>
                        </div>
                        <div class="col text-center">
                            <div class="card" style="max-width: 25rem;">
                                <h5 class="card-header ">¿Desea iniciar nuevo semestre?</h5>
                                <div class="card-body">
                                    <a href="/semestre" class="btn btn-block btn-danger">Iniciar nuevo semestre</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-end">
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <strong>Proximos eventos</strong>
            </div>
            <ul class="list-group list-group-flush">
                {{#each adminData.events}}
                <li class="list-group-item">{{this.title}} <br><small>{{this.duration}}</small></li>
                {{/each}}
            </ul>
            <div class="card-body text-center">
                <a href="/events" class="btn btn-primary">Ver eventos</a>
            </div>
        </div>
    </div>


</div>


</div>