<div class="container">

    <div class="row m-3">

    </div>
    
    <form action='/admin/anteproyectos/enviarRevisado' method="POST" novalidate class="needs-validation">
    <h2>Revisión de Anteproyectos</h2>

    <div class="row m-3">
        <div class="h3">Info:</div>
            <p>Estudiante: {{estudiante.nombre}}</p>
            <p>Carnet: {{estudiante.carnet}}</p>
            <p>Email: {{estudiante.correo}}</p>
            <p>Proyecto: {{anteproyecto.titulo}}</p>
    </div>
    
<div class="container">
    <div class="row m-3">
        <div class="row m-3">
            <div class="col m-3"><div class="h2">Aspecto</div></div>
            <div class="col m-3"><div class="h2">Estado</div></div>
            <div class="col m-3"><div class="h2">Observaciones</div></div>
        </div>

        <div class="card m-3">
        <div class="row m-3">
            <div class="col m-3"><div class="h5">General - Información del estudiante</div></div>
            <div class="col m-3">
                <div class="dropdown">
                <button class="btn btn-primary mb-3  dropdown-toggle"
                        type="button" 
                        id="multiSelectDropdown1"
                        data-bs-toggle="dropdown" 
                        aria-expanded="false"> 
                        Seleccionar
                </button> 
                

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <label>
                                <input class="form-check-input" type="radio" value="aceptado" name = "infoEstudiante.estado" required/>
                                <div class="span">Aceptado</div>
                                </label>
                            </div>
                        </a>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <label>
                                <input class="form-check-input" type="radio" value="incompleto" name = "infoEstudiante.estado" required/>
                                <div class="span">Incompleto</div>
                                </label>
                            
                                <div class="invalid-feedback">
                                    Seleccione una opcion
                                </div>
                            </div>
                        </a>
                    
                    </div>
                </div>
            </div>
            <div class="col m-3">
                <div class="form-group">
                <input type="semestre" class="form-control" id="exampleInputEmail1" name="infoEstudiante.observaciones" > 
                Observaciones          
                </div>
            </div>
        </div>
        </div>

        <div class="card m-3">
        <div class="row m-3">
            <div class="col m-3"><div class="h5">General - Información de la empresa</div></div>
            <div class="col m-3">
                <div class="dropdown">
                <button class="btn btn-primary mb-3  dropdown-toggle"
                        type="button" 
                        id="multiSelectDropdown2"
                        data-bs-toggle="dropdown" 
                        aria-expanded="false"> 
                        Seleccionar
                </button> 
                

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <label>
                                <input class="form-check-input" type="radio" value="aceptado" name = "infoEmpresa.estado" required/>
                                <div class="span">Aceptado</div>
                                </label>
                            
                            </div>
                        </a>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <label>
                                <input class="form-check-input" type="radio" value="incompleto" name = "infoEmpresa.estado" required/>
                                <div class="span">Incompleto</div>
                                </label>
                            
                                <div class="invalid-feedback">
                                    Seleccione una opcion
                                </div>
                            </div>
                        </a>
                    
                    </div>
                </div>
            </div>
            <div class="col m-3">
                <div class="form-group">
                <input type="semestre" class="form-control" id="exampleInputEmail1" name="infoEmpresa.observaciones" > 
                Observaciones          
                </div>
            </div>
        </div>
        </div>

        <div class="card m-3">
        <div class="row m-3">
            <div class="col m-3"><div class="h5">General - Información del contraparte</div></div>
            <div class="col m-3">
                <div class="dropdown">
                
                <button class="btn btn-primary mb-3  dropdown-toggle"
                        type="button" 
                        id="multiSelectDropdown3"
                        data-bs-toggle="dropdown" 
                        aria-expanded="false"> 
                        Seleccionar
                </button> 
                

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <label>
                                <input class="form-check-input" type="radio" value="aceptado" name = "infoContraparte.estado" required/>
                                <div class="span">Aceptado</div>
                                </label>
                            </div>
                        </a>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <label>
                                <input class="form-check-input" type="radio" value="incompleto" name = "infoContraparte.estado" required/>
                                <div class="span">Incompleto</div>
                                </label>
                            
                                <div class="invalid-feedback">
                                    Seleccione una opcion
                                </div>
                            </div>
                        </a>
                    
                    </div>
                </div>
            </div>
            <div class="col m-3">
                <div class="form-group">
                <input type="semestre" class="form-control" id="exampleInputEmail1" name="infoContraparte.observaciones" > 
                Observaciones          
                </div>
            </div>
        </div>
        </div>

        <div class="card m-3">
        <div class="row m-3">
            <div class="col m-3"><div class="h5">General - Informacion básica del proyecto</div></div>
            <div class="col m-3">
                <div class="dropdown">
                <button class="btn btn-primary mb-3  dropdown-toggle"
                        type="button" 
                        id="multiSelectDropdown4"
                        data-bs-toggle="dropdown" 
                        aria-expanded="false"> 
                        Seleccionar
                </button> 
                

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <label>
                                <input class="form-check-input" type="radio" value="aceptado" name = "infoBasica.estado" required/>
                                <div class="span">Aceptado</div>
                                </label>
                            </div>
                        </a>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <label>
                                <input class="form-check-input" type="radio" value="incompleto" name = "infoBasica.estado" required/>
                                <div class="span">Incompleto</div>
                                </label>
                            
                                <div class="invalid-feedback">
                                    Seleccione una opcion
                                </div>
                            </div>
                        </a>
                    
                    </div>
                </div>
            </div>
            <div class="col m-3">
                <div class="form-group">
                <input type="semestre" class="form-control" id="exampleInputEmail1" name="infoBasica.observaciones" > 
                Observaciones          
                </div>
            </div>
        </div>
        </div>

        <div class="card m-3">
        <div class="row m-3">
            <div class="col m-3"><div class="h5">Descripción - Descripción General</div></div>
            <div class="col m-3">
                <div class="dropdown">
                <button class="btn btn-primary mb-3  dropdown-toggle"
                        type="button" 
                        id="multiSelectDropdown5"
                        data-bs-toggle="dropdown" 
                        aria-expanded="false"> 
                        Seleccionar
                </button> 
                

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <label>
                                <input class="form-check-input" type="radio" value="aceptado" name = "descripcionGeneral.estado" required/>
                                <div class="span">Aceptado</div>
                                </label>
                            </div>
                        </a>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <label>
                                <input class="form-check-input" type="radio" value="incompleto" name = "descripcionGeneral.estado" required/>
                                <div class="span">Incompleto</div>
                                </label>
                            
                                <div class="invalid-feedback">
                                    Seleccione una opcion
                                </div>
                            </div>
                        </a>
                    
                    </div>
                </div>
            </div>
            <div class="col m-3">
                <div class="form-group">
                <input type="semestre" class="form-control" id="exampleInputEmail1" name="descripcionGeneral.observaciones" > 
                Observaciones          
                </div>
            </div>
        </div>
        </div>

        <div class="card m-3">
        <div class="row m-3">
            <div class="col m-3"><div class="h5">Descripción - Antecedentes del proyecto</div></div>
            <div class="col m-3">
                <div class="dropdown">
                <button class="btn btn-primary mb-3  dropdown-toggle"
                        type="button" 
                        id="multiSelectDropdown6"
                        data-bs-toggle="dropdown" 
                        aria-expanded="false"> 
                        Seleccionar
                </button> 
                

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                
                                <label>
                                <input class="form-check-input" type="radio" value="aceptado" name = "antecedentes.estado" required/>
                                <div class="span">Aceptado</div>
                                </label>
                            </div>
                        </a>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <label>
                                <input class="form-check-input" type="radio" value="incompleto" name = "antecedentes.estado" required/>
                                <div class="span">Incompleto</div>
                                </label>
                            
                                <div class="invalid-feedback">
                                    Seleccione una opcion
                                </div>
                            </div>
                        </a>
                    
                    </div>
                </div>
            </div>
            <div class="col m-3">
                <div class="form-group">
                <input type="semestre" class="form-control" id="exampleInputEmail1" name="antecedentes.observaciones" > 
                Observaciones          
                </div>
            </div>
        </div>
        </div>

        <div class="card m-3">
        <div class="row m-3">
            <div class="col m-3"><div class="h5">Descripción - Objetivo general y específicos</div></div>
            <div class="col m-3">
                <div class="dropdown">
                <button class="btn btn-primary mb-3  dropdown-toggle"
                        type="button" 
                        id="multiSelectDropdown7"
                        data-bs-toggle="dropdown" 
                        aria-expanded="false"> 
                        Seleccionar
                </button> 
                

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <label>
                                <input class="form-check-input" type="radio" value="aceptado" name = "objetivos.estado" required/>
                                <div class="span">Aceptado</div>
                                </label>
                            </div>
                        </a>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <label>
                                <input class="form-check-input" type="radio" value="incompleto" name = "objetivos.estado" required/>
                                <div class="span">Incompleto</div>
                                </label>
                            
                                <div class="invalid-feedback">
                                    Seleccione una opcion
                                </div>
                            </div>
                        </a>
                    
                    </div>
                </div>
            </div>
            <div class="col m-3">
                <div class="form-group">
                <input type="semestre" class="form-control" id="exampleInputEmail1" name="objetivos.observaciones" > 
                Observaciones          
                </div>
            </div>
        </div>
        </div>

        <div class="card m-3">
        <div class="row m-3">
            <div class="col m-3"><div class="h5">Descripción - Tecnologías a utilizar</div></div>
            <div class="col m-3">
                <div class="dropdown">
                <button class="btn btn-primary mb-3  dropdown-toggle"
                        type="button" 
                        id="multiSelectDropdown8"
                        data-bs-toggle="dropdown" 
                        aria-expanded="false"> 
                        Seleccionar
                </button> 
                

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <label>
                                <input class="form-check-input" type="radio" value="aceptado" name = "tecnologias.estado" required/>
                                <div class="span">Aceptado</div>
                                </label>
                            </div>
                        </a>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <label>
                                <input class="form-check-input" type="radio" value="incompleto" name = "tecnologias.estado" required/>
                                <div class="span">Incompleto</div>
                                </label>
                            
                                <div class="invalid-feedback">
                                    Seleccione una opcion
                                </div>
                            </div>
                        </a>
                    
                    </div>
                </div>
            </div>
            <div class="col m-3">
                <div class="form-group">
                <input type="semestre" class="form-control" id="exampleInputEmail1" name="tecnologias.observaciones" > 
                Observaciones          
                </div>
            </div>
        </div>
        </div>

        <div class="card m-3">
        <div class="row m-3">
            <div class="col m-3"><div class="h5">Descripción - Productos esperados</div></div>
            <div class="col m-3">
                <div class="dropdown">
                <button class="btn btn-primary mb-3  dropdown-toggle"
                        type="button" 
                        id="multiSelectDropdown9"
                        data-bs-toggle="dropdown" 
                        aria-expanded="false"> 
                        Seleccionar
                </button> 
                

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <label>
                                <input class="form-check-input" type="radio" value="aceptado" name = "productos.estado" required/>
                                <div class="span">Aceptado</div>
                                </label>
                            </div>
                        </a>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <label>
                                <input class="form-check-input" type="radio" value="incompleto" name = "productos.estado" required/>
                                <div class="span">Incompleto</div>
                                </label>
                            
                                <div class="invalid-feedback">
                                    Seleccione una opcion
                                </div>
                            </div>
                        </a>
                    
                    </div>
                </div>
            </div>
            <div class="col m-3">
                <div class="form-group">
                <input type="semestre" class="form-control" id="exampleInputEmail1" name="productos.observaciones" > 
                Observaciones          
                </div>
            </div>
        </div>
        </div>

        <div class="card m-3">
        <div class="row m-3">
            <div class="col m-3"><div class="h5">Descripción - Alcance</div></div>
            <div class="col m-3">
                <div class="dropdown">
                <button class="btn btn-primary mb-3  dropdown-toggle"
                        type="button" 
                        id="multiSelectDropdown10"
                        data-bs-toggle="dropdown" 
                        aria-expanded="false"> 
                        Seleccionar
                </button> 
                

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <label>
                                <input class="form-check-input" type="radio" value="aceptado" name = "alcance.estado" required/>
                                <div class="span">Aceptado</div>
                                </label>
                            </div>
                        </a>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <label>
                                <input class="form-check-input" type="radio" value="incompleto" name = "alcance.estado" required/>
                                <div class="span">Incompleto</div>
                                </label>
                            
                                <div class="invalid-feedback">
                                    Seleccione una opcion
                                </div>
                            </div>
                        </a>
                    
                    </div>
                </div>
            </div>
            <div class="col m-3">
                <div class="form-group">
                <input type="semestre" class="form-control" id="exampleInputEmail1" name="alcance.observaciones" > 
                Observaciones          
                </div>
            </div>
        </div>
        </div>

        <div class="card m-3">
        <div class="row m-3">
            <div class="col m-3"><div class="h5">Descripción - Personal involucrado</div></div>
            <div class="col m-3">
                <div class="dropdown">
                <button class="btn btn-primary mb-3  dropdown-toggle"
                        type="button" 
                        id="multiSelectDropdown11"
                        data-bs-toggle="dropdown" 
                        aria-expanded="false"> 
                        Seleccionar
                </button> 
                

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <label>
                                <input class="form-check-input" type="radio" value="aceptado" name = "personal.estado" required/>
                                <div class="span">Aceptado</div>
                                </label>
                            </div>
                        </a>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <label>
                                <input class="form-check-input" type="radio" value="incompleto" name = "personal.estado" required/>
                                <div class="span">Incompleto</div>
                                </label>
                            
                                <div class="invalid-feedback">
                                    Seleccione una opcion
                                </div>
                            </div>
                        </a>
                    
                    </div>
                </div>
            </div>
            <div class="col m-3">
                <div class="form-group">
                <input type="semestre" class="form-control" id="exampleInputEmail1" name="personal.observaciones" > 
                Observaciones          
                </div>
            </div>
        </div>
        </div>

        <div class="card m-3">
        <div class="row m-3">
            <div class="col m-3"><div class="h5">Descripción - Duración</div></div>
            <div class="col m-3">
                <div class="dropdown">
                <button class="btn btn-primary mb-3  dropdown-toggle"
                        type="button" 
                        id="multiSelectDropdown12"
                        data-bs-toggle="dropdown" 
                        aria-expanded="false"> 
                        Seleccionar
                </button> 
                

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <label>
                                <input class="form-check-input" type="radio" value="aceptado" name = "duracion.estado" required/>
                                <div class="span">Aceptado</div>
                                </label>
                            </div>
                        </a>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <label>
                                <input class="form-check-input" type="radio" value="incompleto" name = "duracion.estado" required/>
                                <div class="span">Incompleto</div>
                                </label>
                            
                                <div class="invalid-feedback">
                                    Seleccione una opcion
                                </div>
                            </div>
                        </a>
                    
                    </div>
                </div>
            </div>
            <div class="col m-3">
                <div class="form-group">
                <input type="semestre" class="form-control" id="exampleInputEmail1" name="duracion.observaciones" > 
                Observaciones          
                </div>
            </div>
        </div>
        </div>

        <div class="card m-3">
        <div class="row m-3">
            <div class="col m-3"><div class="h5">Descripción - Cronograma</div></div>
            <div class="col m-3">
                <div class="dropdown">
                <button class="btn btn-primary mb-3  dropdown-toggle"
                        type="button" 
                        id="multiSelectDropdown13"
                        data-bs-toggle="dropdown" 
                        aria-expanded="false"> 
                        Seleccionar
                </button> 
                

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <label>
                                <input class="form-check-input" type="radio" value="aceptado" name = "cronograma.estado" required/>
                                <div class="span">Aceptado</div>
                                </label>
                            </div>
                        </a>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <label>
                                <input class="form-check-input" type="radio" value="incompleto" name = "cronograma.estado" required/>
                                <div class="span">Incompleto</div>
                                </label>
                            
                                <div class="invalid-feedback">
                                    Seleccione una opcion
                                </div>
                            </div>
                        </a>
                    
                    </div>
                </div>
            </div>

            <div class="col m-3">
                <div class="form-group">
                <input type="semestre" class="form-control" id="exampleInputEmail1" name="cronograma.observaciones" > 
                Observaciones          
                </div>
            </div>
            
        </div>
        </div>

    </div>

    
    <div class="row m-3">
        
        <div class="row m-3">
        <h5>Estado del proyecto</h5>
        
            <div class="dropdown">
                <button class="btn btn-primary mb-3  dropdown-toggle"
                        type="button" 
                        id="multiSelectDropdown14"
                        data-bs-toggle="dropdown" 
                        aria-expanded="false"> 
                        Seleccionar
                </button> 
                

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <label>
                                <input class="form-check-input" type="radio" value="aceptado" name = "estado" required/>
                                <div class="span">Aceptado</div>
                                </label>
                            </div>
                        </a>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <label>
                                <input class="form-check-input" type="radio" value="incompleto" name = "estado" required/>
                                <div class="span">Incompleto</div>
                                </label>
                            
                                <div class="invalid-feedback">
                                    Seleccione una opcion
                                </div>
                            </div>
                        </a>
                    
                    </div>
                </div>
        
        
        </div>
    </div>

    <input type="hidden" name="correoEstudiante" value={{estudiante.correo}}>

    <div class="row m-3">    
        <div class="h5">Enviar Revision</div>    
        <button type="submit" class="btn btn-primary m-3">Enviar</button>  
    </div>
    <div class="invalid-feedback">
            Cuestionario incompleto
    </div> 
    </form>
</div>

    

    <div class="row m-3">    
        <div class="p">Sistema de Gestión de prácticas profesionales - 2023</div> 
    </div>

</div>