<!DOCTYPE html>
<html>

<head>

</head>

<body>

    <div class="container">
        <h1>Estudiantes por Empresa</h1> <!-- Título de la página -->

        <div class="row mb-2">
            <link rel="stylesheet" type="text/css" href="/css/projectsTable.css">
            <table class="table table-hover text-center mb-5 ">
                <thead>
                    <tr>
                        <th>Estudiante</th>
                        <th>Carnet</th>
                        <th>Telefono</th>
                        <th>Correo</th>
                        <th>Empresa</th>
                        <th>Profesor</th>
                        <th>Semestre</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each data}}
                    <tr>
                        <td>{{this.info_estudiante.nombre}}</td>
                        <td>{{this.info_estudiante.carnet}}</td>
                        <td>{{this.info_estudiante.telefono}}</td>
                        <td>{{this.info_estudiante.correo}}</td>
                        <td>{{this.nombreEmpresa}}</td>
                        <td>{{this.info_profesor.name}}</td>
                        <td>{{this.info_semestre.period}} - {{this.info_semestre.year}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

            <form method="POST" id="getForm" action="/consultas/estudianteXempresa/downloadExcel">
                <input type="hidden" id="semestre" name="semestre" value={{semestre}} />
                <input type="hidden" id="anho" name="anho" value={{anho}} />
                <input type="hidden" id="nombreEmpresa" name="nombreEmpresa" value={{nombreEmpresa}} />

                <button type="submit" class="btn btn-primary w-100" >Descargar Excel</button>
            </form>
        

        </div>
    </div>

    <script>

    </script>

</body>

</html>