<div class="container-fluid">
    <div class="row mb-5">
        <div class="card shadow">
            <div class="row">
                <div class="col-md-6">
                    <div class="card-header">
                        <strong>Anteproyecto</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <div>
                                            <h6 class="card-title d-inline">Titulo: </h6>
                                            <p class="card-text d-inline">{{anteproyecto.titulo}}</p>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div>
                                            <h6 class="card-title d-inline">Estado: </h6>

                                            <p class="card-text d-inline">{{anteproyecto.estado}} </p>

                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div>
                                            <h6 class="card-title d-inline">Profesor asignado: </h6>
                                            {{#ifEquals anteproyecto.profesorAsignado null}}
                                            <p class="card-text d-inline">Sin asignar</p>
                                            {{else}}
                                            <p class="card-text d-inline">{{anteproyecto.profesorAsignado.name}} |
                                                {{anteproyecto.profesorAsignado.correo}}</p>
                                            {{/ifEquals}}
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <div>
                                            <h6 class="card-title d-inline">Tipo: </h6>
                                            <p class="card-text d-inline">{{anteproyecto.tipo}} </p>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div>
                                            <h6 class="card-title d-inline">Confidencialidad: </h6>
                                            {{#ifEquals anteproyecto.isConfidencial true}}
                                            <p class="card-text d-inline">Confidencial</p>
                                            {{else}}
                                            <p class="card-text d-inline">No confidencial</p>
                                            {{/ifEquals}}
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div>
                                            <h6 class="card-title d-inline">Modalidad: </h6>
                                            {{#ifEquals anteproyecto.teletrabajo true}}
                                            <p class="card-text d-inline">Teletrabajo</p>
                                            {{else}}
                                            <p class="card-text d-inline">Regular</p>
                                            {{/ifEquals}}
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card-header">
                        <strong>Empresa</strong>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div>
                                    <h6 class="card-title d-inline">Nombre: </h6>
                                    <p class="card-text d-inline">{{anteproyecto.nombreEmpresa}} |
                                        Telefono: {{anteproyecto.telefonoEmpresa}}</p>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div>
                                    <h6 class="card-title d-inline">Supervisor: </h6>
                                    <p class="card-text d-inline">{{anteproyecto.puestoSupervisor}} |
                                        {{anteproyecto.nombreSupervisor}} ({{anteproyecto.correoSupervisor}})</p>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {{!-- offset-xl-3 offset-md-3 --}}

    </div>


    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <strong>Notas</strong>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div>
                                        <h6 class="card-title d-inline">Empresa1: </h6>
                                        <p class="card-text d-inline">{{anteproyecto.empresa1}} </p>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div>
                                        <h6 class="card-title d-inline">Informe1: </h6>
                                        <p class="card-text d-inline">{{anteproyecto.informe1}} </p>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div>
                                        <h6 class="card-title d-inline">Empresa2: </h6>
                                        <p class="card-text d-inline">{{anteproyecto.empresa2}} </p>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div>
                                        <h6 class="card-title d-inline">Informe2: </h6>
                                        <p class="card-text d-inline">{{anteproyecto.informe2}} </p>
                                    </div>
                                </li>
                                


                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div>
                                        <h6 class="card-title d-inline">Empresa3: </h6>
                                        <p class="card-text d-inline">{{anteproyecto.empresa3}} </p>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div>
                                        <h6 class="card-title d-inline">Informe3: </h6>
                                        <p class="card-text d-inline">{{anteproyecto.informe3}} </p>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div>
                                        <h6 class="card-title d-inline">Presentación: </h6>
                                        <p class="card-text d-inline">{{anteproyecto.presentacion}} </p>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div>
                                        <h6 class="card-title d-inline">Coordinación: </h6>
                                        <p class="card-text d-inline">{{anteproyecto.coordinacion}} </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item highlight">
                                    <div>
                                        <h6 class="card-title d-inline">Final: </h6>
                                        <p class="card-text d-inline">{{anteproyecto.final}} </p>
                                    </div>
                                </li>
                                <li class="list-group-item highlight">
                                    <div>
                                        <h6 class="card-title d-inline">Actas: </h6>
                                        <p class="card-text d-inline">{{anteproyecto.actas}} </p>
                                    </div>
                                </li>
                        
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <strong>Proximos eventos</strong>
                </div>
                <ul class="list-group list-group-flush">
                    {{#each eventos}}
                    <li class="list-group-item">{{this.title}} <br><small>{{this.duration}}</small></li>
                    {{/each}}
                </ul>
                <div class="card-body text-center">
                    <a href="/events" class="btn btn-primary">Ver eventos</a>
                </div>
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title">Observaciones de su Anteproyecto</h5>
                <p class="card-text">Si su anteproyecto actual está en revisión estas observaciones corresponden al último anteproyecto revisado</p>
                <p class="card-text">Observaciones: <br>{{{formatObservations user.observaciones}}}</p>
            </div>
        </div>
        


    </div>
   


</div>